

.main{
    display: flex;
    margin:76px auto;
    flex-direction: row;
    justify-content: space-between;
}
.image{
    width: 50%;
}
.image img{
    width: 90%;
}
header{
    width: 90%;
    margin:0 auto;
    padding:40px 0;
    font-family: 'Inconsolata', monospace;
}
.content{
    width: 45%;
    font-family: 'Space Mono', monospace;
}
p{
    font-size: 1.5rem;
    width: 70%;
    line-height: 1.5rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #333333;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
    font-family: 'Space Mono', monospace;

}
footer{
    color: #bdbdbd;
    text-align: center;
    font-family: "Montserrat";

}
 input[type=button]{
     margin-top: 40px;
     background-color: #333333;
     font-family: 'Space Mono', monospace;
     padding: 20px;
     color: white;
     font-weight: 700;
     text-transform: uppercase;
     border: none;
     width: 40%;
 }
